.barra{
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0px 0px 5px  rgba(0,0,.2);
    height: 25px;
}

.barra_azul{
    background-color: #247cc0;
    border-radius: 10px;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 0;
}

.barra_verde{
    background-color: #2EA265 !important;
}

.barra_roja{
    background-color: #DE3152;
}

.barra_estado{
    color: white;
    font-weight: bold;
    line-height: 25px;
}